@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Old+Uyghur&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://unpkg.com/@uiw/reset.css@1.0.6/reset.css');

header {
    background-color: rgb(166, 207, 247);
}

main {
    background-color: rgb(231, 231, 231);
}

aside {
    background-color: rgb(86, 167, 233);
}

footer {
    background-color: rgb(7, 71, 109);
}

.container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr ;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 1rem;
    grid-template-areas:
    "head head head"
    "main main lade"
    "pie pie pie"    
    ;
}

.borde{
    border-radius: 8px 8px 8px 8px;
}

header {
    grid-area: head;
}

main {
    grid-area: main; 
}

aside {
    grid-area: lade;
}

footer {
    grid-area: pie;
    color: aliceblue;
}   

p {
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 20px;
    font-family: "Nunito Sans", sans-serif ;
    font-optical-sizing: auto ;
    font-weight: weight ;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}


h1 {
    padding: 20px ;
    font-family: "Noto Serif Old Uyghur", serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Noto Serif Old Uyghur", serif;
    font-weight: 400;
    font-style: normal;
}

h3{
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-family: "Noto Serif Old Uyghur", serif;
    font-weight: 400;
    font-style: normal;
}

h4{
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-family: "Noto Serif Old Uyghur", serif;
    font-weight: 400;
    font-style: normal;
}


h6{
    margin-left: 20px;
    font-family: "Noto Serif Old Uyghur", serif;
    font-weight: 400;
    font-style: normal;
}

li {
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 20px;
    font-family: "Nunito Sans", sans-serif ;
    font-optical-sizing: auto ;
    font-weight: weight ;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

.perry {
    clip-path: ellipse(43% 49% at 47% 50%);
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
}

.real {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.ody {
    display: flex;
    margin-right: 15px;
    align-items: center;
    padding-left: 20px;
}

.polites {
    width: 3% ;
}

.circe {
    clip-path: ellipse(49% 38% at 50% 45%);
    width: 85%;
    margin-left: 20px;
}

.zeus {
    font-size: 12px;
}

.penelope {
    font-size: 20px;
}

.apolo {
    clip-path: polygon(34% 0, 70% 0%, 90% 30%, 90% 70%, 70% 100%, 34% 100%, 15% 70%, 15% 30%);
    width: 30%;
}

.ares {
    display: flex;
}

.calypso {
    margin-top: 20px;
}
